#/usr/lib/systemd/system/tigervnc@.service 

[Unit]
Description=Remote desktop service (VNC)
After=syslog.target network.target

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=always
RestartSec=5s

Type=simple
ExecStart=/sbin/runuser -l kajih -c "/usr/bin/vncserver %i"

[Install]
WantedBy=multi-user.target
